nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1rem;
}

a,
#logOut {
  text-decoration: none;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold ;
  padding: 3rem;
  color: #db0021;
  cursor: pointer;
}
a:hover,
#logOut:hover {
  text-decoration: underline;
}
