nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1rem;
  border-bottom: 1px solid #db0021 ; 
  padding-left: 3rem;
}

a,
#logOut {
  text-decoration: none;
  font-size: medium;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: 500;
  /* padding: 2rem; */
  color: #db0021;
  /* color: #f9f0f1; */
  
  cursor: pointer;
}
a:hover,
#logOut:hover {
  text-decoration: underline;
}

nav a {
  margin-block: 2rem;
  margin-inline: .8rem; 
}