body{
    background-color: #ffdde2;
  }
  
    h1 {
      display: flex;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 5rem;
    }
  
#imageDiv{
  display: flex;
  justify-content: center;
}