form {
  background-color: #e0e1dd;
  width: 75%;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-radius: 25px;
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 10rem;
  background-color: rgb(218, 218, 218);
  margin-bottom: 3rem;
  padding: 10rem;
}

input {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 1.5rem;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: auto;
margin-right: auto;

}

button {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  font-size: larger;
  margin-top: 5rem;
  background-color: #db0021;
  margin-bottom: 3rem;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

body {
  background-color: #ffdde2;
}

#inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
