form {
  background-color: #e0e1dd;
  width: 75%;
  margin: 0 auto;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
  transition: transform 0.2s ease-in-out;
  position: relative;
}
form:hover{
  transform: translateY(-5px);
}

input {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 1.5rem;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  
}

button {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  font-size: larger;
  margin-top: 1rem;
 background-color:#db0021;
  margin-bottom: 1rem;
  color:white;
}

h1 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5rem;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  color:#db0021
}

body {
  background-color: #faebd7;
}

#inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

